body  {
  background-image: url("../img/bg2.png");
  background-color: #444;
  overflow: hidden; /**/
}

::selection {
   color: none;
   background: none;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#c {
    /* background-color: rgba(200, 0, 200, 0.1); /**/

   	/* padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 100px;

    display: block;

    border: 1px solid cyan; */

    top: -274px;

    position: relative;
    z-index: 1;

    /* background-color: brown */
}
* {
    margin: 0; padding: 0;
}

body, html { height:100%; }

/* input ,label{
	bottom: 703px;
	top: -598px;
	left: 10px;
	position: relative;
	font-family: verdana;
} */

#mainUI {
  
  left: 25px;
  top: 25px;

  font-family: verdana;
  /* background-color: purple; /**/
  
  width: 1132px;

  position: relative;
  z-index: 2;

}

label {
  color: lightgrey;
  text-shadow: 1px 1px #000000;
}


.check {

  -webkit-appearance: none;
  background-color: #555;
  padding: 10px;
  border-radius: 2px;
  display: inline-block;
  position: relative;

}

.check:checked {

  background-color: #95F;

}

.button {

  background-color: #555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;

}

.button:hover {
  background-color: #95F;
}

/* No out line on button and checkbox */
.check:focus, .button:focus {
  outline: 0;
}

